.nav {
  background-color: #008080; /* Teal color */
  color: white;
  padding: 16px 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.user-name {
  font-size: 1.25rem;
  font-weight: bold;
}
